<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
       <h1 class="navbar-brand" style="margin-bottom: 0;">Shoppping Cart</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" style="color: white; background-color: green; margin-right: 10px;" >
                    <a href="http://localhost:3000" style="text-decoration: none; color: white;">Signup</a>
                </button>
                <button class="btn btn-outline-success my-2 my-sm-0" style="color: white; background-color: green; margin-right: 10px;" >
                    <a href="http://localhost:3000/login" style="text-decoration: none; color: white;">Login</a>
                </button>
            </form>
        </div>
    </nav>
</header>