<section class="row" style="margin-top: 25vh; margin-left: 425px;">
    <div class="container">
        <div class="col-md-6">
            <div class="mb-3">
                <h1 class="mx-auto" style="width: 125px;">LOGIN</h1>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email"
                    placeholder="Email Address">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password"
                    placeholder="Password">
            </div>
            <div class="mb-3">
                <a href="" class="float-left">Create Account?</a>
                <button class="float-right btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</section>