<section class="row" style="margin-top: 25vh; ">
    <div class="container">
        <div class="col-md-6 mx-auto">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <h1 class="mx-auto" style="width: 125px;">LOGIN</h1>
                </div>
                {{#if wrong}}
                <p class="error" style="color: red;">{{wrong}}</p>
                {{/if}}
                <div class="mb-3">
                    <label for="" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email Address" name="Email">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password" name="Password">
                </div>
                <div class="mb-3">
                    <a href="/signup" class="float-left">Create Account?</a>
                    <button class="float-right btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</section>