<section class="row" style="margin-top: 20vh; ">
    <div class="container">
        <div class="col-md-6 mx-auto">
            <form action="/signup" method="post">
                <div class="mb-3 px-auto " style="display: flex; justify-content: center;">
                    <h1 id="headerMain"  >Create new account</h1>
                </div>
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Enter your name" name="Name">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email Address" name="Email">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="Password" class="form-control" id="Password" placeholder="Password" name="Password">
                </div>
                <div class="mb-3">
                    <a href="/login" class="float-left">Already have account?</a>
                    <button class="float-right btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</section>
<style>
   
    @media (min-width:314px) {
        #headerMain{
           font-size: 2.0rem!important;
        }
    }
    @media (max-width:314px){
        #headerMain{
           font-size: 1.7rem!important;
        }
    }
</style>