<section class="row" style="margin-top: 20vh; margin-left: 425px;">
    <div class="container">
        <div class="col-md-6">
            <form action="/signup" method="post">
                <div class="mb-3">
                    <h1 class="mx-auto" style="width: 370px;">Create new account</h1>
                </div>
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Enter your name" name="Name">
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email Address" name="Email">
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="Password" class="form-control" id="Password" placeholder="Password" name="Password">
                </div>
                <div class="mb-3">
                    <label for="Password_2" class="form-label">Confirm</label>
                    <input type="password" class="form-control" id="Password_2" placeholder="Confirm Password" name="Password_2">
                </div>
                <div class="mb-3">
                    <a href="/login" class="float-left">Already have account?</a>
                    <button class="float-right btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</section>